<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.credithc.baseapp">

    <application
        android:name=".DebugMyApplication"
        android:largeHeap="true"
        tools:replace="android:name">
        <activity android:name=".example.activity.ExampleApiActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>